<section class="sale center">
    <div class="sale__box">
        <div class="sale__item">
            <img class="sale__img" src="img/sale-item-1.jpg" alt="sale img">
            <div class="sale__content">
                <p class="sale__text">30% OFF</p>
                <h3 class="sale__heading">FOR WOMEN</h3>
            </div>
        </div>
        <div class="sale__item">
            <img class="sale__img" src="img/sale-item-2.jpg" alt="sale img">
            <div class="sale__content">
                <p class="sale__text">30% OFF</p>
                <h3 class="sale__heading">FOR WOMEN</h3>
            </div>
        </div>
        <div class="sale__item">
            <img class="sale__img" src="img/sale-item-3.jpg" alt="sale img">
            <div class="sale__content">
                <p class="sale__text">30% OFF</p>
                <h3 class="sale__heading">FOR WOMEN</h3>
            </div>
        </div>
    </div>
    <div class="sale__item sale__item_big">
        <img class="sale__img" src="img/sale-item-4.jpg" alt="sale img">
        <div class="sale__content">
            <p class="sale__text">LUXIROUS & TRENDY</p>
            <h3 class="sale__heading">ACCESORIES</h3>
        </div>
    </div>
</section>
