<section class="catalog">
    <div class="catalog__header center">
        <div class="catalog__title"><h5>NEW ARRIVALS</h5></div>
        <nav class="catalog__path">
            <ul class="catalog__path-ul">
                <li class="catalog__path-item"><a class="catalog__path-link" href="/">HOME</a></li>
                <li class="catalog__path-item"><a class="catalog__path-link" href="#">MEN</a></li>
                <li class="catalog__path-item"><a class="catalog__path-link" href="#">NEW ARRIVALS</a></li>
            </ul>
        </nav>
    </div>
    <div class="products center">
        <nav class="catalog__filter">
            <div class="catalog__filter-left">
                <details class="catalog__filter-list">
                    <summary class="filter__sort">
                            <span class="filter__header">
                                FILTER
                            </span>
                        <svg class="filter__sort-icon" width="15" height="10" viewBox="0 0 15 10" fill="none"
                             xmlns="http://www.w3.org/2000/svg">
                            <path d="M0.833333 10H4.16667C4.625 10 5 9.625 5 9.16667C5 8.70833 4.625 8.33333 4.16667 8.33333H0.833333C0.375 8.33333 0 8.70833 0 9.16667C0 9.625 0.375 10 0.833333 10ZM0 0.833333C0 1.29167 0.375 1.66667 0.833333 1.66667H14.1667C14.625 1.66667 15 1.29167 15 0.833333C15 0.375 14.625 0 14.1667 0H0.833333C0.375 0 0 0.375 0 0.833333ZM0.833333 5.83333H9.16667C9.625 5.83333 10 5.45833 10 5C10 4.54167 9.625 4.16667 9.16667 4.16667H0.833333C0.375 4.16667 0 4.54167 0 5C0 5.45833 0.375 5.83333 0.833333 5.83333Z"
                                  fill="black"/>
                        </svg>
                    </summary>
                    <details class="catalog__filter-list1" open>
                        <summary class="filter__sort1">CATEGORY</summary>
                        <p class="filter__sort-item"><a href="#">Accessories</a></p>
                        <p class="filter__sort-item"><a href="#">Bags</a></p>
                        <p class="filter__sort-item"><a href="#">Denim</a></p>
                        <p class="filter__sort-item"><a href="#">Hoodies & Sweatshirts</a></p>
                        <p class="filter__sort-item"><a href="#">Jackets & Coats</a></p>
                        <p class="filter__sort-item"><a href="#">Polos</a></p>
                        <p class="filter__sort-item"><a href="#">Shirts</a></p>
                        <p class="filter__sort-item"><a href="#">Shoes</a></p>
                        <p class="filter__sort-item"><a href="#">Sweaters & Knits</a></p>
                        <p class="filter__sort-item"><a href="#">T-Shirts</a></p>
                        <p class="filter__sort-item"><a href="#">Tanks</a></p>
                    </details>
                    <details class="catalog__filter-list2">
                        <summary class="filter__sort2">BRAND</summary>
                        <p class="filter__sort-item"><a href="#">item1</a></p>
                        <p class="filter__sort-item"><a href="#">item2</a></p>
                        <p class="filter__sort-item"><a href="#">item3</a></p>
                        <p class="filter__sort-item"><a href="#">item4</a></p>
                        <p class="filter__sort-item"><a href="#">item5</a></p>
                    </details>
                    <details class="catalog__filter-list3">
                        <summary class="filter__sort3">DESIGNER</summary>
                        <p class="filter__sort-item"><a href="#">item1</a></p>
                        <p class="filter__sort-item"><a href="#">item2</a></p>
                        <p class="filter__sort-item"><a href="#">item3</a></p>
                        <p class="filter__sort-item"><a href="#">item4</a></p>
                        <p class="filter__sort-item"><a href="#">item5</a></p>
                    </details>
                </details>
            </div>
            <div class="catalog__filter-right">
                <details class="filter__trend">
                    <summary>
                        <i class="filter__trend-title">TRENDING NOW<span class="filter__sort-ad"></span></i>
                    </summary>
                </details>
                <details class="filter__size">
                    <summary>
                        <i class="filter__size-title">SIZE<span class="filter__sort-ad"></span></i>
                    </summary>
                    <div class="filter__size-body">
                        <p class="filter__size-item">
                            <input type="checkbox" id="size-xs" name="scales" checked>
                            <label class="filter__size-text" for="size-xs">XS</label>
                        </p>
                        <p class="filter__size-item">
                            <input type="checkbox" id="size-s" name="scales">
                            <label class="filter__size-text" for="size-s">S</label>
                        </p>
                        <p class="filter__size-item">
                            <input type="checkbox" id="size-m" name="scales">
                            <label class="filter__size-text" for="size-m">M</label>
                        </p>
                        <p class="filter__size-item">
                            <input type="checkbox" id="size-l" name="scales">
                            <label class="filter__size-text" for="size-l">l</label>
                        </p>
                    </div>

                </details>
                <details class="filter__price">
                    <summary>
                        <i class="filter__price-title"> PRICE<span class="filter__sort-ad"></span></i>
                    </summary>
                </details>
            </div>
        </nav>
        <div class="products__box">
            <div class="products__item">
                <a href="index.php?path=product">
                    <img class="products__img" src="../img/cat-item-1.jpg" alt="product img">
                </a>
                <div class="products__content">
                    <a href="index.php?path=product" class="products__heading">ELLERY X M'O CAPSULE</a>
                    <p class="products__text">Known for her sculptural takes on traditional tailoring, Australian
                        arbiter of cool Kym Ellery teams up with Moda Operandi.</p>
                    <p class="products__price">$52.00</p>
                </div>
                <a class="products__add" href="#">
                    <svg class="product__cart" width="27" height="25" viewBox="0 0 27 25" fill="none"
                         xmlns="http://www.w3.org/2000/svg">
                        <path d="M21.876 22.2662C21.921 22.2549 21.9423 22.2339 21.96 22.2129C21.9678 22.2037 21.9756 22.1946 21.9835 22.1855C22.02 22.1438 22.0233 22.0553 22.0224 22.0105C22.0092 21.9044 21.9185 21.8315 21.8412 21.8315C21.8375 21.8315 21.8336 21.8317 21.8312 21.8318C21.7531 21.8372 21.6653 21.9409 21.6719 22.0625C21.6813 22.1793 21.7675 22.2662 21.8392 22.2662H21.876ZM8.21954 22.2599C8.31873 22.2599 8.39935 22.1655 8.39935 22.0496C8.39935 21.9341 8.31873 21.8401 8.21954 21.8401C8.12042 21.8401 8.03973 21.9341 8.03973 22.0496C8.03973 22.1655 8.12042 22.2599 8.21954 22.2599ZM21.9995 24.2662C21.9517 24.2662 21.8878 24.2662 21.8392 24.2662C20.7017 24.2662 19.7567 23.3545 19.6765 22.198C19.5964 20.9929 20.4937 19.9183 21.6953 19.8364C21.7441 19.8331 21.7928 19.8315 21.8412 19.8315C22.9799 19.8315 23.9413 20.7324 24.019 21.8884C24.0505 22.4915 23.8741 23.0612 23.4898 23.5012C23.1055 23.9575 22.5764 24.2177 21.9995 24.2662ZM8.21954 24.2599C7.01532 24.2599 6.03973 23.2709 6.03973 22.0496C6.03973 20.8291 7.01532 19.8401 8.21954 19.8401C9.42371 19.8401 10.3994 20.8291 10.3994 22.0496C10.3994 23.2709 9.42371 24.2599 8.21954 24.2599ZM21.1984 17.3938H9.13306C8.70013 17.3938 8.31586 17.1005 8.20331 16.6775L4.27753 2.24768H1.52173C0.993408 2.24768 0.560547 1.80859 0.560547 1.27039C0.560547 0.733032 0.993408 0.292969 1.52173 0.292969H4.99933C5.43134 0.292969 5.81561 0.586304 5.9281 1.01025L9.85394 15.4391H20.5576L24.1144 7.13379H12.2578C11.7286 7.13379 11.2957 6.69373 11.2957 6.15649C11.2957 5.61914 11.7286 5.17908 12.2578 5.17908H25.5886C25.9091 5.17908 26.2141 5.34192 26.3896 5.61914C26.566 5.89539 26.5984 6.23743 26.4697 6.547L22.0795 16.807C21.9193 17.1653 21.5827 17.3938 21.1984 17.3938Z"
                              fill="white"></path>
                    </svg>
                    Add to Cart
                </a>
            </div>
            <div class="products__item">
                <a href="index.php?path=product">
                    <img class="products__img" src="../img/cat-item-2.jpg" alt="product img">
                </a>
                <div class="products__content">
                    <a href="index.php?path=product" class="products__heading">ELLERY X M'O CAPSULE</a>
                    <p class="products__text">Known for her sculptural takes on traditional tailoring, Australian
                        arbiter of cool Kym Ellery teams up with Moda Operandi.</p>
                    <p class="products__price">$52.00</p>
                </div>
                <a class="products__add" href="#">
                    <svg class="product__cart" width="27" height="25" viewBox="0 0 27 25" fill="none"
                         xmlns="http://www.w3.org/2000/svg">
                        <path d="M21.876 22.2662C21.921 22.2549 21.9423 22.2339 21.96 22.2129C21.9678 22.2037 21.9756 22.1946 21.9835 22.1855C22.02 22.1438 22.0233 22.0553 22.0224 22.0105C22.0092 21.9044 21.9185 21.8315 21.8412 21.8315C21.8375 21.8315 21.8336 21.8317 21.8312 21.8318C21.7531 21.8372 21.6653 21.9409 21.6719 22.0625C21.6813 22.1793 21.7675 22.2662 21.8392 22.2662H21.876ZM8.21954 22.2599C8.31873 22.2599 8.39935 22.1655 8.39935 22.0496C8.39935 21.9341 8.31873 21.8401 8.21954 21.8401C8.12042 21.8401 8.03973 21.9341 8.03973 22.0496C8.03973 22.1655 8.12042 22.2599 8.21954 22.2599ZM21.9995 24.2662C21.9517 24.2662 21.8878 24.2662 21.8392 24.2662C20.7017 24.2662 19.7567 23.3545 19.6765 22.198C19.5964 20.9929 20.4937 19.9183 21.6953 19.8364C21.7441 19.8331 21.7928 19.8315 21.8412 19.8315C22.9799 19.8315 23.9413 20.7324 24.019 21.8884C24.0505 22.4915 23.8741 23.0612 23.4898 23.5012C23.1055 23.9575 22.5764 24.2177 21.9995 24.2662ZM8.21954 24.2599C7.01532 24.2599 6.03973 23.2709 6.03973 22.0496C6.03973 20.8291 7.01532 19.8401 8.21954 19.8401C9.42371 19.8401 10.3994 20.8291 10.3994 22.0496C10.3994 23.2709 9.42371 24.2599 8.21954 24.2599ZM21.1984 17.3938H9.13306C8.70013 17.3938 8.31586 17.1005 8.20331 16.6775L4.27753 2.24768H1.52173C0.993408 2.24768 0.560547 1.80859 0.560547 1.27039C0.560547 0.733032 0.993408 0.292969 1.52173 0.292969H4.99933C5.43134 0.292969 5.81561 0.586304 5.9281 1.01025L9.85394 15.4391H20.5576L24.1144 7.13379H12.2578C11.7286 7.13379 11.2957 6.69373 11.2957 6.15649C11.2957 5.61914 11.7286 5.17908 12.2578 5.17908H25.5886C25.9091 5.17908 26.2141 5.34192 26.3896 5.61914C26.566 5.89539 26.5984 6.23743 26.4697 6.547L22.0795 16.807C21.9193 17.1653 21.5827 17.3938 21.1984 17.3938Z"
                              fill="white"></path>
                    </svg>
                    Add to Cart
                </a>
            </div>
            <div class="products__item">
                <a href="index.php?path=product">
                    <img class="products__img" src="../img/cat-item-3.jpg" alt="product img">
                </a>
                <div class="products__content">
                    <a href="index.php?path=product" class="products__heading">ELLERY X M'O CAPSULE</a>
                    <p class="products__text">Known for her sculptural takes on traditional tailoring, Australian
                        arbiter of cool Kym Ellery teams up with Moda Operandi.</p>
                    <p class="products__price">$52.00</p>
                </div>
                <a class="products__add" href="#">
                    <svg class="product__cart" width="27" height="25" viewBox="0 0 27 25" fill="none"
                         xmlns="http://www.w3.org/2000/svg">
                        <path d="M21.876 22.2662C21.921 22.2549 21.9423 22.2339 21.96 22.2129C21.9678 22.2037 21.9756 22.1946 21.9835 22.1855C22.02 22.1438 22.0233 22.0553 22.0224 22.0105C22.0092 21.9044 21.9185 21.8315 21.8412 21.8315C21.8375 21.8315 21.8336 21.8317 21.8312 21.8318C21.7531 21.8372 21.6653 21.9409 21.6719 22.0625C21.6813 22.1793 21.7675 22.2662 21.8392 22.2662H21.876ZM8.21954 22.2599C8.31873 22.2599 8.39935 22.1655 8.39935 22.0496C8.39935 21.9341 8.31873 21.8401 8.21954 21.8401C8.12042 21.8401 8.03973 21.9341 8.03973 22.0496C8.03973 22.1655 8.12042 22.2599 8.21954 22.2599ZM21.9995 24.2662C21.9517 24.2662 21.8878 24.2662 21.8392 24.2662C20.7017 24.2662 19.7567 23.3545 19.6765 22.198C19.5964 20.9929 20.4937 19.9183 21.6953 19.8364C21.7441 19.8331 21.7928 19.8315 21.8412 19.8315C22.9799 19.8315 23.9413 20.7324 24.019 21.8884C24.0505 22.4915 23.8741 23.0612 23.4898 23.5012C23.1055 23.9575 22.5764 24.2177 21.9995 24.2662ZM8.21954 24.2599C7.01532 24.2599 6.03973 23.2709 6.03973 22.0496C6.03973 20.8291 7.01532 19.8401 8.21954 19.8401C9.42371 19.8401 10.3994 20.8291 10.3994 22.0496C10.3994 23.2709 9.42371 24.2599 8.21954 24.2599ZM21.1984 17.3938H9.13306C8.70013 17.3938 8.31586 17.1005 8.20331 16.6775L4.27753 2.24768H1.52173C0.993408 2.24768 0.560547 1.80859 0.560547 1.27039C0.560547 0.733032 0.993408 0.292969 1.52173 0.292969H4.99933C5.43134 0.292969 5.81561 0.586304 5.9281 1.01025L9.85394 15.4391H20.5576L24.1144 7.13379H12.2578C11.7286 7.13379 11.2957 6.69373 11.2957 6.15649C11.2957 5.61914 11.7286 5.17908 12.2578 5.17908H25.5886C25.9091 5.17908 26.2141 5.34192 26.3896 5.61914C26.566 5.89539 26.5984 6.23743 26.4697 6.547L22.0795 16.807C21.9193 17.1653 21.5827 17.3938 21.1984 17.3938Z"
                              fill="white"></path>
                    </svg>
                    Add to Cart
                </a>
            </div>
            <div class="products__item">
                <a href="index.php?path=product">
                    <img class="products__img" src="../img/cat-item-4.jpg" alt="product img">
                </a>
                <div class="products__content">
                    <a href="index.php?path=product" class="products__heading">ELLERY X M'O CAPSULE</a>
                    <p class="products__text">Known for her sculptural takes on traditional tailoring, Australian
                        arbiter of cool Kym Ellery teams up with Moda Operandi.</p>
                    <p class="products__price">$52.00</p>
                </div>
                <a class="products__add" href="#">
                    <svg class="product__cart" width="27" height="25" viewBox="0 0 27 25" fill="none"
                         xmlns="http://www.w3.org/2000/svg">
                        <path d="M21.876 22.2662C21.921 22.2549 21.9423 22.2339 21.96 22.2129C21.9678 22.2037 21.9756 22.1946 21.9835 22.1855C22.02 22.1438 22.0233 22.0553 22.0224 22.0105C22.0092 21.9044 21.9185 21.8315 21.8412 21.8315C21.8375 21.8315 21.8336 21.8317 21.8312 21.8318C21.7531 21.8372 21.6653 21.9409 21.6719 22.0625C21.6813 22.1793 21.7675 22.2662 21.8392 22.2662H21.876ZM8.21954 22.2599C8.31873 22.2599 8.39935 22.1655 8.39935 22.0496C8.39935 21.9341 8.31873 21.8401 8.21954 21.8401C8.12042 21.8401 8.03973 21.9341 8.03973 22.0496C8.03973 22.1655 8.12042 22.2599 8.21954 22.2599ZM21.9995 24.2662C21.9517 24.2662 21.8878 24.2662 21.8392 24.2662C20.7017 24.2662 19.7567 23.3545 19.6765 22.198C19.5964 20.9929 20.4937 19.9183 21.6953 19.8364C21.7441 19.8331 21.7928 19.8315 21.8412 19.8315C22.9799 19.8315 23.9413 20.7324 24.019 21.8884C24.0505 22.4915 23.8741 23.0612 23.4898 23.5012C23.1055 23.9575 22.5764 24.2177 21.9995 24.2662ZM8.21954 24.2599C7.01532 24.2599 6.03973 23.2709 6.03973 22.0496C6.03973 20.8291 7.01532 19.8401 8.21954 19.8401C9.42371 19.8401 10.3994 20.8291 10.3994 22.0496C10.3994 23.2709 9.42371 24.2599 8.21954 24.2599ZM21.1984 17.3938H9.13306C8.70013 17.3938 8.31586 17.1005 8.20331 16.6775L4.27753 2.24768H1.52173C0.993408 2.24768 0.560547 1.80859 0.560547 1.27039C0.560547 0.733032 0.993408 0.292969 1.52173 0.292969H4.99933C5.43134 0.292969 5.81561 0.586304 5.9281 1.01025L9.85394 15.4391H20.5576L24.1144 7.13379H12.2578C11.7286 7.13379 11.2957 6.69373 11.2957 6.15649C11.2957 5.61914 11.7286 5.17908 12.2578 5.17908H25.5886C25.9091 5.17908 26.2141 5.34192 26.3896 5.61914C26.566 5.89539 26.5984 6.23743 26.4697 6.547L22.0795 16.807C21.9193 17.1653 21.5827 17.3938 21.1984 17.3938Z"
                              fill="white"></path>
                    </svg>
                    Add to Cart
                </a>
            </div>
            <div class="products__item">
                <a href="index.php?path=product">
                    <img class="products__img" src="../img/cat-item-5.jpg" alt="product img">
                </a>
                <div class="products__content">
                    <a href="index.php?path=product" class="products__heading">ELLERY X M'O CAPSULE</a>
                    <p class="products__text">Known for her sculptural takes on traditional tailoring, Australian
                        arbiter of cool Kym Ellery teams up with Moda Operandi.</p>
                    <p class="products__price">$52.00</p>
                </div>
                <a class="products__add" href="">
                    <svg class="product__cart" width="27" height="25" viewBox="0 0 27 25" fill="none"
                         xmlns="http://www.w3.org/2000/svg">
                        <path d="M21.876 22.2662C21.921 22.2549 21.9423 22.2339 21.96 22.2129C21.9678 22.2037 21.9756 22.1946 21.9835 22.1855C22.02 22.1438 22.0233 22.0553 22.0224 22.0105C22.0092 21.9044 21.9185 21.8315 21.8412 21.8315C21.8375 21.8315 21.8336 21.8317 21.8312 21.8318C21.7531 21.8372 21.6653 21.9409 21.6719 22.0625C21.6813 22.1793 21.7675 22.2662 21.8392 22.2662H21.876ZM8.21954 22.2599C8.31873 22.2599 8.39935 22.1655 8.39935 22.0496C8.39935 21.9341 8.31873 21.8401 8.21954 21.8401C8.12042 21.8401 8.03973 21.9341 8.03973 22.0496C8.03973 22.1655 8.12042 22.2599 8.21954 22.2599ZM21.9995 24.2662C21.9517 24.2662 21.8878 24.2662 21.8392 24.2662C20.7017 24.2662 19.7567 23.3545 19.6765 22.198C19.5964 20.9929 20.4937 19.9183 21.6953 19.8364C21.7441 19.8331 21.7928 19.8315 21.8412 19.8315C22.9799 19.8315 23.9413 20.7324 24.019 21.8884C24.0505 22.4915 23.8741 23.0612 23.4898 23.5012C23.1055 23.9575 22.5764 24.2177 21.9995 24.2662ZM8.21954 24.2599C7.01532 24.2599 6.03973 23.2709 6.03973 22.0496C6.03973 20.8291 7.01532 19.8401 8.21954 19.8401C9.42371 19.8401 10.3994 20.8291 10.3994 22.0496C10.3994 23.2709 9.42371 24.2599 8.21954 24.2599ZM21.1984 17.3938H9.13306C8.70013 17.3938 8.31586 17.1005 8.20331 16.6775L4.27753 2.24768H1.52173C0.993408 2.24768 0.560547 1.80859 0.560547 1.27039C0.560547 0.733032 0.993408 0.292969 1.52173 0.292969H4.99933C5.43134 0.292969 5.81561 0.586304 5.9281 1.01025L9.85394 15.4391H20.5576L24.1144 7.13379H12.2578C11.7286 7.13379 11.2957 6.69373 11.2957 6.15649C11.2957 5.61914 11.7286 5.17908 12.2578 5.17908H25.5886C25.9091 5.17908 26.2141 5.34192 26.3896 5.61914C26.566 5.89539 26.5984 6.23743 26.4697 6.547L22.0795 16.807C21.9193 17.1653 21.5827 17.3938 21.1984 17.3938Z"
                              fill="white"></path>
                    </svg>
                    Add to Cart
                </a>
            </div>
            <div class="products__item">
                <a href="index.php?path=product">
                    <img class="products__img" src="../img/cat-item-6.jpg" alt="product img">
                </a>
                <div class="products__content">
                    <a href="index.php?path=product" class="products__heading">ELLERY X M'O CAPSULE</a>
                    <p class="products__text">Known for her sculptural takes on traditional tailoring, Australian
                        arbiter of cool Kym Ellery teams up with Moda Operandi.</p>
                    <p class="products__price">$52.00</p>
                </div>
                <a class="products__add" href="#">
                    <svg class="product__cart" width="27" height="25" viewBox="0 0 27 25" fill="none"
                         xmlns="http://www.w3.org/2000/svg">
                        <path d="M21.876 22.2662C21.921 22.2549 21.9423 22.2339 21.96 22.2129C21.9678 22.2037 21.9756 22.1946 21.9835 22.1855C22.02 22.1438 22.0233 22.0553 22.0224 22.0105C22.0092 21.9044 21.9185 21.8315 21.8412 21.8315C21.8375 21.8315 21.8336 21.8317 21.8312 21.8318C21.7531 21.8372 21.6653 21.9409 21.6719 22.0625C21.6813 22.1793 21.7675 22.2662 21.8392 22.2662H21.876ZM8.21954 22.2599C8.31873 22.2599 8.39935 22.1655 8.39935 22.0496C8.39935 21.9341 8.31873 21.8401 8.21954 21.8401C8.12042 21.8401 8.03973 21.9341 8.03973 22.0496C8.03973 22.1655 8.12042 22.2599 8.21954 22.2599ZM21.9995 24.2662C21.9517 24.2662 21.8878 24.2662 21.8392 24.2662C20.7017 24.2662 19.7567 23.3545 19.6765 22.198C19.5964 20.9929 20.4937 19.9183 21.6953 19.8364C21.7441 19.8331 21.7928 19.8315 21.8412 19.8315C22.9799 19.8315 23.9413 20.7324 24.019 21.8884C24.0505 22.4915 23.8741 23.0612 23.4898 23.5012C23.1055 23.9575 22.5764 24.2177 21.9995 24.2662ZM8.21954 24.2599C7.01532 24.2599 6.03973 23.2709 6.03973 22.0496C6.03973 20.8291 7.01532 19.8401 8.21954 19.8401C9.42371 19.8401 10.3994 20.8291 10.3994 22.0496C10.3994 23.2709 9.42371 24.2599 8.21954 24.2599ZM21.1984 17.3938H9.13306C8.70013 17.3938 8.31586 17.1005 8.20331 16.6775L4.27753 2.24768H1.52173C0.993408 2.24768 0.560547 1.80859 0.560547 1.27039C0.560547 0.733032 0.993408 0.292969 1.52173 0.292969H4.99933C5.43134 0.292969 5.81561 0.586304 5.9281 1.01025L9.85394 15.4391H20.5576L24.1144 7.13379H12.2578C11.7286 7.13379 11.2957 6.69373 11.2957 6.15649C11.2957 5.61914 11.7286 5.17908 12.2578 5.17908H25.5886C25.9091 5.17908 26.2141 5.34192 26.3896 5.61914C26.566 5.89539 26.5984 6.23743 26.4697 6.547L22.0795 16.807C21.9193 17.1653 21.5827 17.3938 21.1984 17.3938Z"
                              fill="white"></path>
                    </svg>
                    Add to Cart
                </a>
            </div>
            <div class="products__item">
                <a href="index.php?path=product">
                    <img class="products__img" src="../img/cat-item-7.jpg" alt="product img">
                </a>
                <div class="products__content">
                    <a href="index.php?path=product" class="products__heading">ELLERY X M'O CAPSULE</a>
                    <p class="products__text">Known for her sculptural takes on traditional tailoring, Australian
                        arbiter of cool Kym Ellery teams up with Moda Operandi.</p>
                    <p class="products__price">$52.00</p>
                </div>
                <a class="products__add" href="#">
                    <svg class="product__cart" width="27" height="25" viewBox="0 0 27 25" fill="none"
                         xmlns="http://www.w3.org/2000/svg">
                        <path d="M21.876 22.2662C21.921 22.2549 21.9423 22.2339 21.96 22.2129C21.9678 22.2037 21.9756 22.1946 21.9835 22.1855C22.02 22.1438 22.0233 22.0553 22.0224 22.0105C22.0092 21.9044 21.9185 21.8315 21.8412 21.8315C21.8375 21.8315 21.8336 21.8317 21.8312 21.8318C21.7531 21.8372 21.6653 21.9409 21.6719 22.0625C21.6813 22.1793 21.7675 22.2662 21.8392 22.2662H21.876ZM8.21954 22.2599C8.31873 22.2599 8.39935 22.1655 8.39935 22.0496C8.39935 21.9341 8.31873 21.8401 8.21954 21.8401C8.12042 21.8401 8.03973 21.9341 8.03973 22.0496C8.03973 22.1655 8.12042 22.2599 8.21954 22.2599ZM21.9995 24.2662C21.9517 24.2662 21.8878 24.2662 21.8392 24.2662C20.7017 24.2662 19.7567 23.3545 19.6765 22.198C19.5964 20.9929 20.4937 19.9183 21.6953 19.8364C21.7441 19.8331 21.7928 19.8315 21.8412 19.8315C22.9799 19.8315 23.9413 20.7324 24.019 21.8884C24.0505 22.4915 23.8741 23.0612 23.4898 23.5012C23.1055 23.9575 22.5764 24.2177 21.9995 24.2662ZM8.21954 24.2599C7.01532 24.2599 6.03973 23.2709 6.03973 22.0496C6.03973 20.8291 7.01532 19.8401 8.21954 19.8401C9.42371 19.8401 10.3994 20.8291 10.3994 22.0496C10.3994 23.2709 9.42371 24.2599 8.21954 24.2599ZM21.1984 17.3938H9.13306C8.70013 17.3938 8.31586 17.1005 8.20331 16.6775L4.27753 2.24768H1.52173C0.993408 2.24768 0.560547 1.80859 0.560547 1.27039C0.560547 0.733032 0.993408 0.292969 1.52173 0.292969H4.99933C5.43134 0.292969 5.81561 0.586304 5.9281 1.01025L9.85394 15.4391H20.5576L24.1144 7.13379H12.2578C11.7286 7.13379 11.2957 6.69373 11.2957 6.15649C11.2957 5.61914 11.7286 5.17908 12.2578 5.17908H25.5886C25.9091 5.17908 26.2141 5.34192 26.3896 5.61914C26.566 5.89539 26.5984 6.23743 26.4697 6.547L22.0795 16.807C21.9193 17.1653 21.5827 17.3938 21.1984 17.3938Z"
                              fill="white"></path>
                    </svg>
                    Add to Cart
                </a>
            </div>
            <div class="products__item">
                <a href="index.php?path=product">
                    <img class="products__img" src="../img/cat-item-8.jpg" alt="product img">
                </a>
                <div class="products__content">
                    <a href="index.php?path=product" class="products__heading">ELLERY X M'O CAPSULE</a>
                    <p class="products__text">Known for her sculptural takes on traditional tailoring, Australian
                        arbiter of cool Kym Ellery teams up with Moda Operandi.</p>
                    <p class="products__price">$52.00</p>
                </div>
                <a class="products__add" href="#">
                    <svg class="product__cart" width="27" height="25" viewBox="0 0 27 25" fill="none"
                         xmlns="http://www.w3.org/2000/svg">
                        <path d="M21.876 22.2662C21.921 22.2549 21.9423 22.2339 21.96 22.2129C21.9678 22.2037 21.9756 22.1946 21.9835 22.1855C22.02 22.1438 22.0233 22.0553 22.0224 22.0105C22.0092 21.9044 21.9185 21.8315 21.8412 21.8315C21.8375 21.8315 21.8336 21.8317 21.8312 21.8318C21.7531 21.8372 21.6653 21.9409 21.6719 22.0625C21.6813 22.1793 21.7675 22.2662 21.8392 22.2662H21.876ZM8.21954 22.2599C8.31873 22.2599 8.39935 22.1655 8.39935 22.0496C8.39935 21.9341 8.31873 21.8401 8.21954 21.8401C8.12042 21.8401 8.03973 21.9341 8.03973 22.0496C8.03973 22.1655 8.12042 22.2599 8.21954 22.2599ZM21.9995 24.2662C21.9517 24.2662 21.8878 24.2662 21.8392 24.2662C20.7017 24.2662 19.7567 23.3545 19.6765 22.198C19.5964 20.9929 20.4937 19.9183 21.6953 19.8364C21.7441 19.8331 21.7928 19.8315 21.8412 19.8315C22.9799 19.8315 23.9413 20.7324 24.019 21.8884C24.0505 22.4915 23.8741 23.0612 23.4898 23.5012C23.1055 23.9575 22.5764 24.2177 21.9995 24.2662ZM8.21954 24.2599C7.01532 24.2599 6.03973 23.2709 6.03973 22.0496C6.03973 20.8291 7.01532 19.8401 8.21954 19.8401C9.42371 19.8401 10.3994 20.8291 10.3994 22.0496C10.3994 23.2709 9.42371 24.2599 8.21954 24.2599ZM21.1984 17.3938H9.13306C8.70013 17.3938 8.31586 17.1005 8.20331 16.6775L4.27753 2.24768H1.52173C0.993408 2.24768 0.560547 1.80859 0.560547 1.27039C0.560547 0.733032 0.993408 0.292969 1.52173 0.292969H4.99933C5.43134 0.292969 5.81561 0.586304 5.9281 1.01025L9.85394 15.4391H20.5576L24.1144 7.13379H12.2578C11.7286 7.13379 11.2957 6.69373 11.2957 6.15649C11.2957 5.61914 11.7286 5.17908 12.2578 5.17908H25.5886C25.9091 5.17908 26.2141 5.34192 26.3896 5.61914C26.566 5.89539 26.5984 6.23743 26.4697 6.547L22.0795 16.807C21.9193 17.1653 21.5827 17.3938 21.1984 17.3938Z"
                              fill="white"></path>
                    </svg>
                    Add to Cart
                </a>
            </div>
            <div class="products__item">
                <a href="index.php?path=product">
                    <img class="products__img" src="../img/cat-item-9.jpg" alt="product img">
                </a>
                <div class="products__content">
                    <a href="index.php?path=product" class="products__heading">ELLERY X M'O CAPSULE</a>
                    <p class="products__text">Known for her sculptural takes on traditional tailoring, Australian
                        arbiter of cool Kym Ellery teams up with Moda Operandi.</p>
                    <p class="products__price">$52.00</p>
                </div>
                <a class="products__add" href="#">
                    <svg class="product__cart" width="27" height="25" viewBox="0 0 27 25" fill="none"
                         xmlns="http://www.w3.org/2000/svg">
                        <path d="M21.876 22.2662C21.921 22.2549 21.9423 22.2339 21.96 22.2129C21.9678 22.2037 21.9756 22.1946 21.9835 22.1855C22.02 22.1438 22.0233 22.0553 22.0224 22.0105C22.0092 21.9044 21.9185 21.8315 21.8412 21.8315C21.8375 21.8315 21.8336 21.8317 21.8312 21.8318C21.7531 21.8372 21.6653 21.9409 21.6719 22.0625C21.6813 22.1793 21.7675 22.2662 21.8392 22.2662H21.876ZM8.21954 22.2599C8.31873 22.2599 8.39935 22.1655 8.39935 22.0496C8.39935 21.9341 8.31873 21.8401 8.21954 21.8401C8.12042 21.8401 8.03973 21.9341 8.03973 22.0496C8.03973 22.1655 8.12042 22.2599 8.21954 22.2599ZM21.9995 24.2662C21.9517 24.2662 21.8878 24.2662 21.8392 24.2662C20.7017 24.2662 19.7567 23.3545 19.6765 22.198C19.5964 20.9929 20.4937 19.9183 21.6953 19.8364C21.7441 19.8331 21.7928 19.8315 21.8412 19.8315C22.9799 19.8315 23.9413 20.7324 24.019 21.8884C24.0505 22.4915 23.8741 23.0612 23.4898 23.5012C23.1055 23.9575 22.5764 24.2177 21.9995 24.2662ZM8.21954 24.2599C7.01532 24.2599 6.03973 23.2709 6.03973 22.0496C6.03973 20.8291 7.01532 19.8401 8.21954 19.8401C9.42371 19.8401 10.3994 20.8291 10.3994 22.0496C10.3994 23.2709 9.42371 24.2599 8.21954 24.2599ZM21.1984 17.3938H9.13306C8.70013 17.3938 8.31586 17.1005 8.20331 16.6775L4.27753 2.24768H1.52173C0.993408 2.24768 0.560547 1.80859 0.560547 1.27039C0.560547 0.733032 0.993408 0.292969 1.52173 0.292969H4.99933C5.43134 0.292969 5.81561 0.586304 5.9281 1.01025L9.85394 15.4391H20.5576L24.1144 7.13379H12.2578C11.7286 7.13379 11.2957 6.69373 11.2957 6.15649C11.2957 5.61914 11.7286 5.17908 12.2578 5.17908H25.5886C25.9091 5.17908 26.2141 5.34192 26.3896 5.61914C26.566 5.89539 26.5984 6.23743 26.4697 6.547L22.0795 16.807C21.9193 17.1653 21.5827 17.3938 21.1984 17.3938Z"
                              fill="white"></path>
                    </svg>
                    Add to Cart
                </a>
            </div>
        </div>
        <nav class="catalog__pagination">
            <a class="catalog__pagination-la" href="#">&lt;</a>
            <a class="catalog__pagination-item active" href="#">1</a>
            <a class="catalog__pagination-item" href="#">2</a>
            <a class="catalog__pagination-item" href="#">3</a>
            <a class="catalog__pagination-item" href="#">4</a>
            <a class="catalog__pagination-item" href="#">5</a>
            <a class="catalog__pagination-item" href="#">6</a>
            <a class="catalog__pagination-item" href="#">...</a>
            <a class="catalog__pagination-item" href="#">20</a>
            <a class="catalog__pagination-ra" href="#">&gt;</a>
        </nav>
    </div>
</section>
