<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'head.html.twig' %}
</head>
<body>
    <div class="wrapper">
        <div class="top">
            {% include 'header.html.twig' %}
            {% include 'catalog/catalog.html.twig' %}
        </div>
        {% include 'footer.html.twig' %}
    </div>
    {% include 'script.html.twig' %}
</body>
</html>
