<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'head.html.twig' %}
</head>
<body>
    <div class="wrapper">
        <div class="top">
            {% include 'header.html.twig' %}
            <h1>Control</h1>
            <ul>
                {% for key,control in content_data.controls %}
                    <li><a href="/?path=admin&action=control&id={{ key }}">{{ control }}</a></li>
                {% endfor %}
            </ul>
        </div>
        {% include 'footer.html.twig' %}
    </div>
    {% include 'script.html.twig' %}
</body>
</html>
