<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'head.html.twig' %}
</head>
<body>
    <div class="wrapper">
        <div class="top">
            {% include 'header.html.twig' %}
            <div class="delim"></div>
            {% if content_data.status == "ok" %}
                <div class="center">
                    <h1>Control</h1>
                    <ul>
                        {% for key,control in content_data.controls %}
                            <li><a href="/?path=admin&action=control&id={{ key }}">{{ control }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
            {% if content_data.status == "error" %}
                <div class="content__warning">
                    {{ content_data.info }}
                </div>
            {% endif %}
        </div>
        {% include 'footer.html.twig' %}
    </div>
    {% include 'script.html.twig' %}
</body>
</html>
