<section class="promo">
    <div class="promo__left">
        <img class="promo__img" src="img/promo__img.png" alt="promo image">
    </div>
    <div class="promo__right">
        <div class="promo__content">
            <h1 class="promo__h1">THE BRAND</h1>
            <h3 class="promo__heading">OF LUXERIOUS <span class="promo__text">FASHION</span></h3>
        </div>
    </div>
</section>
