<div class="header__logout">
    <a href="index.php?path=index&action=logout">
        <svg class="header__icons" width="32" height="32" viewBox="0 0 32 32" fill="none"
             xmlns="http://www.w3.org/2000/svg">
            <path d="M22.4001 12V0.8C22.4001 0.358375 22.0417 0 21.6001 0H0.800122C0.358497 0 0.00012207 0.358375 0.00012207 0.8V31.2C0.00012207 31.6416 0.358497 32 0.800122 32H21.6001C22.0417 32 22.4001 31.6416 22.4001 31.2V20H20.8001V30.4H1.60012V1.6H20.8001V12H22.4001Z"
                  fill="white"/>
            <path d="M31.7601 15.4278L27.0769 10.6406C26.7681 10.3243 26.2615 10.3189 25.9457 10.6278C25.63 10.9366 25.6241 11.4438 25.9329 11.7589L29.2988 15.2H12.1046C11.6629 15.2 11.3046 15.5584 11.3046 16C11.3046 16.4416 11.6629 16.8 12.1046 16.8H29.2982L25.9323 20.2411C25.6235 20.5563 25.6294 21.0634 25.9451 21.3723C26.2614 21.6811 26.7675 21.6757 27.0763 21.3594L31.7718 16.5594C32.0806 16.2438 32.0753 15.7366 31.7601 15.4278Z"
                  fill="white"/>
        </svg>
    </a>
</div>
