{% include 'header.html.twig' %}

<h1>{{ content_data.name }}</h1>
<p>{{ content_data.price }}</p>

<p id='buyme' class='good_{{ content_data.good_id }}'>Купить</p>

{% include 'footer.html.twig' %}