{% include 'header.html.twig' %}
<div id="catalog-data">
    <ul>
        {% for subcategory in content_data.subcategories %}
        <li><a href="/index.php?page=categories&id={{ subcategory.category_id }}">{{ subcategory.name }}</a></li>
        {% endfor %}
    </ul>
</div>

<div id="goods-data">
    <ul>
        {% for good in content_data.goods %}
        <li><a href="/categories/goods/{{ good.good_id }}/">{{ good.title }}</a></li>
        {% endfor %}
    </ul>
</div>
{% include 'footer.html.twig' %}