<div class="content">
    <h1>{{ title }}</h1>
    <div id="reg__err" class="reg__err">{{ regError }}</div>
    <form class="form__registration" action="" method="post">
        <input class="form__reg-input" type="text" placeholder="Введите имя" name="name" value="">
        <br>
        <input class="form__reg-input" type="text" placeholder="Введите имаил" name="email"
               value="">
        <br>
        <input class="form__reg-input" type="text" placeholder="Введите логин" name="login"
               value="">
        <br>
        <input class="form__reg-input" type="text" placeholder="Введите пароль" name="passwd"
               value="">
        <br>
        <div class="reg__but">
            <input class="form__reg-submit" type="submit" name="registration" value="Зарегистрироваться">
            <input class="form__reg-submit" type="button" value="Cancel" onclick="location.href='index.php'">
        </div>
    </form>
</div>
