<section class="catalog">
    <div class="catalog__header center clear__bmargin">
        <div class="catalog__title">SHOPPING CART</div>
    </div>
    <div class="cart__body center">
        <div class="cart__left">
            <div class="cart__cards"></div>
            <div class="cart__bottom-but">
                <button id="cart__bottom-clear" type="button" class="cart__bottom-clear" name="">
                    <span class="cart__bottom-cleartext">CLEAR SHOPPING CART</span>
                </button>
                <button type="button" class="cart__bottom-continue">
                    <a href="/index.php?path=catalog"><span class="cart__bottom-conttext">CONTINUE SHOPPING</span></a>
                </button>
            </div>
        </div>
        <div class="cart__right">
            <div class="cart__shipping">
                <h3 class="cart__shipping-title">SHIPPING ADDRESS</h3>
                <div id="ordernote" class="form__note"></div>
                <input class="cart__shipping-city" type="text" name="shippingCity" placeholder="Bangladesh">
                <input class="cart__shipping-state" type="text" name="shippingState" placeholder="State">
                <input class="cart__shipping-zip" type="number" name="shippingZip" step="1" min="100000" max="999999"
                       placeholder="Postcode / Zip">
                <input class="cart__shipping-phone" type="text" name="shippingPhone" placeholder="Phone number">
                <button type="button" class="cart__shipping-sub">
                    <span id="cart__shipping-subtext" class="cart__shipping-subtext">GET A QUOTE</span>
                </button>
            </div>
            <div class="cart__account">
                <h4 class="cart__account-h4">SUB TOTAL $750</h4>
                <h3 class="cart__account-h3">GRAND TOTAL <span class="cart__account-tprice"></span></h3>
                <hr class="cart__account-line">
                <button id="cart__shipping-proceed" class="cart__shipping-proceed" type="button" >
                    <span class="cart__shipping-proceedtext">PROCEED TO CHECKOUT</span>
                </button>
            </div>
        </div>
    </div>
</section>
