<section class="catalog">
    <div class="catalog__header center clear__bmargin">
        <div class="catalog__title">SHOPPING CART</div>
    </div>
    <div class="cart__body center">
        <div class="cart__left">
            <div class="cart__cards"></div>
            <div class="cart__bottom-but">
                <button type="button" class="cart__bottom-clear">
                    <span class="cart__bottom-cleartext">CLEAR SHOPPING CART</span>
                </button>
                <button type="button" class="cart__bottom-continue">
                    <span class="cart__bottom-conttext">CONTINUE SHOPPING</span>
                </button>
            </div>
        </div>
        <div class="cart__right">
            <div class="cart__shipping">
                <h3 class="cart__shipping-title">SHIPPING ADRESS</h3>
                <input class="cart__shipping-city" type="text" placeholder="Bangladesh">
                <input class="cart__shipping-state" type="text" placeholder="State">
                <input class="cart__shipping-zip" type="number" step="1" min="100000" max="999999"
                       placeholder="Postcode / Zip">
                <button type="button" class="cart__shipping-sub">
                    <span class="cart__shipping-subtext">GET A QUOTE</span>
                </button>
            </div>
            <div class="cart__account">
                <h4 class="cart__account-h4">SUB TOTAL $900</h4>
                <h3 class="cart__account-h3">GRAND TOTAL</h3>
                <hr class="cart__account-line">
                <button type="button" class="cart__shipping-proceed">
                    <span class="cart__shipping-proceedtext">PROCEED TO CHECKOUT</span>
                </button>
            </div>
        </div>
    </div>
</section>
